@import url("./vendor/normalize.css");
@import url("./vendor/fonts.css");

body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #202020;
}

.page {
  background-color: #202020;
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  box-sizing: border-box;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  max-width: 1280px;
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
}

a {
  color: #fff; /* Белый цвет текста ссылок */
  text-decoration: none; /* Убрать подчеркивание */
  transition: color 0.3s ease; /* Плавное изменение цвета при наведении */
}

/* Изменить стиль при наведении */
a:hover {
  color: #ccc;
}

a {
  cursor: pointer;
}

.error {
  font-family: "Inter", Arial, sans-serif;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.element {
  animation: heartbeat 2s ease-in-out infinite;
}

/* Глобальные стили для ссылок */
a {
  opacity: 0.6; /* Устанавливаем начальную прозрачность */
  transition: opacity 0.3s ease; /* Добавляем плавный переход */
  /* Дополнительные стили для ссылок, если нужны */
}

/* Глобальные стили для кнопок */
button {
  opacity: 0.6; /* Устанавливаем начальную прозрачность */
  transition: opacity 0.3s ease; /* Добавляем плавный переход */
  /* Дополнительные стили для кнопок, если нужны */
}
